<%= form_with(scope: :session, local: true, data: { turbo: false }) do |f| %>
    <div class="container justify-content-md-center col-5 form-container shadow rounded">
       
        <div class="mb-3">
            <p>
            <%= f.label :email, class: "form-label" %></br>
            <%= f.email_field :email, class: "form-control"  %>
            </p>
        </div>
        <div class="mb-3">
            <p>
            <%= f.label :password, class: "form-label" %></br>
            <%= f.password_field :password, class: "form-control"  %>
            </p>
        </div>
        <div class="mb-3">
            <p>
            <%= f.submit "Login", class: "btn-primary" %>
            </p>
        </div>
    </div>
<% end %>