<h2 class="text-center">List of all the Users</h2>

<% @users.each do |user| %>
    <div class="row justify-content-md-center">
        <div class="col-6 mt-4">
            <div class="card text-center shadow mb-5 bg-body rounded">
                <div class="card-header">
                <%= user.name %>
                </div>
                <div class="card-body">
                    <%= gravatar_for user, size: 150 %>
                    <p class="card-text"><%= user.articles.count %></p>
                    <%=link_to 'View', user_path(user), class: "btn btn-outline-success" %>
                    <% if user == current_user %>
                        <%=link_to 'Edit', edit_user_path(user), class: "btn btn-outline-primary" %>
                    <%end%>
                </div>
                <div class="card-footer text-muted">
                    Joined <%= time_ago_in_words(user.created_at) %> ago
                </div>
            </div>
        </div>
    </div>
<% end %>